body {
    margin: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.links {
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
}

#logo {
    font-size: 24px;
}

.header-extra {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 18px;
}

button {
    border-radius: 12px;
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 100px;
    padding: 5px;
}

.text-group {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.text-group h2{
    margin-bottom: 8px;
    font-weight: 900;
}

h2 {
    font-size: 42px;
    font-weight: 900;
}

.image-placeholder{
    display: flex;
    align-items: center;
    background-color: gray;
    margin: 30px;
    padding: 110px;
}

.info-section h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.info-item {
    max-width: 180px;
}

.image-box {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 12px;
    border: 3px solid #3882f6;
  }
