body {
    margin: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
}

.links {
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
}

#logo {
    font-size: 24px;
}

.header-extra {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 18px;
}

button {
    border-radius: 12px;
    border-color: white;
    background-color: #3882f6;
    color: #f9faf8;
    max-width: 100px;
    padding: 5px;
    cursor: pointer;
}

.text-group {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.text-group h2{
    margin-bottom: 7px;
    font-weight: 900;
}

h2 {
    font-size: 42px;
    font-weight: 900;
}

.image-placeholder{
    display: flex;
    align-items: center;
    background-color: gray;
    margin: 30px;
    padding: 110px;
}

.info-section h3 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 60px;
}

.info-item {
    max-width: 180px;
}

.image-box {
    width: 200px;
    height: 200px;
    background-color: transparent;
    border-radius: 12px;
    border: 3px solid #3882f6;
  }

  .quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
  }

  #quote {
    font-style: italic;
    font-weight: 100;
    font-size: 36px;
    color: #1f2937;
    max-width: 660px;
  }

  #quote-author {
    text-align: right;
    max-width: 750px;
    font-style: normal;
    padding-left: 400px;
    font-size: 25px;
    color: #1f2937;
  }

  .cta-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 200px;
    padding: 40px;
    background-color: #3882f6;
    border-radius: 10px;
  }

.cta-text  {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
}

.cta-text h2 {
    font-size: 35px;
    margin-bottom: 1px;
}

.cta-section button {
  background-color: #3882f6;
  color: #f9faf8;
  border: solid #f9faf8 thin;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 200px;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    padding: 30px;
}
